html {
	padding: 0;
}

@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialRoundedMTBold.woff') format('woff'), url('ArialRoundedMTBold.ttf')  format('truetype'), url('../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	padding: 0px;
	margin: 0px;
}
canvas {
	cursor: none !important;
    display : block;
    margin : auto;
    margin-top: 10px;
}
input {
    text-align: center;
}